{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Your Desired Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Desired Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>Do not use any passwords for this site that you use elsewhere! Use a unique password for this site.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p class="text-muted">Details: I made this as a learning project. This site implements password hashing but not salting. It is unsafe to re-use passwords in general, but particularly so here.
    While I only store hashes and have taken precautions to prevent SQL injection, it is still possible for hashes to be cracked and for me or less likely the developer of the SQL libaries I use to have made a mistake.</p>
{% endblock %}
